<% content_for :submenu do %>
  <li><%= link_to "Create Notification", new_notification_path %></li>
<% end %>

<table id="notifications" class="datatable display table table-striped table-bordered" >
  <caption><h3><%= 'Notifications' %></h3></caption>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Status</th>
      <th>Channels</th>
      <th>Sent at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
    <tr>
      <td><%= link_to(notification.subject,  notification) %></td>
      <td><%= notification.status %></td>
      <td><%= notification.channels %></td>
      <td><%= notification.sent_at %></td>
      <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

