<h1>Listing notifications</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Author</th>
    <th>Status</th>
    <th>Channels</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Sent at</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notifications.each do |notification| %>
  <tr>
    <td><%= notification.event_id %></td>
    <td><%= notification.author_id %></td>
    <td><%= notification.status %></td>
    <td><%= notification.channels %></td>
    <td><%= notification.subject %></td>
    <td><%= notification.body %></td>
    <td><%= notification.sent_at %></td>
    <td><%= notification.comments %></td>
    <td><%= link_to 'Show', notification %></td>
    <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
    <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notification', new_notification_path %>
