<% content_for :sidebar do %>
  <%= link_to 'Return to Event', event_path(@event), :class => 'btn' %></br></br>
  <%= link_to("Send It !", notify_path(@notification ), method: :Post, :class => 'btn btn-mini') %>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @notification.event_title %>
</p>

<p>
  <b>Author:</b>
  <%= @notification.author_id %>
</p>

<p>
  <b>Status:</b>
  <%= @notification.status %>
</p>

<p>
  <b>Channels:</b>
  <%= @notification.channels %>
</p>

<p>
  <b>Groups:</b>
  <%= @notification.recipient_groups %>
</p>


<p>
  <b>Subject:</b>
  <%= @notification.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @notification.body %>
</p>

<p>
  <b>Sent at:</b>
  <%= @notification.sent_at %>
</p>

<p>
  <b>Comments:</b>
  <%= @notification.comments %>
</p>

