<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @recipient.person_id %>
</p>

<p>
  <b>Notification:</b>
  <%= @recipient.notification_id %>
</p>

<p>
  <b>Uuid:</b>
  <%= @recipient.uuid %>
</p>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
