<% content_for :submenu do %>
  <li><%= link_to 'Edit Event', edit_event_path(@event) if can? :edit, @event  %></li>
  <li><%= link_to "Export", event_path(@event, format: "xlsx") %></li>
  <li><%= link_to "Create Notification", new_event_notification_path(@event) %></li>
<% end %>
<% content_for :sidebar do %>
  <%= link_to 'Return to Events', events_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Event', edit_event_path(@event), :class => 'btn' if can? :edit, @event  %></br></br>
  <%= link_to "Excel", event_path(@event, format: "xlsx"), :class => 'btn btn-mini' %>
 <% end %>

<h3><%= @event.title %></h3>
<p><b>Location:</b> <%= @event.location %></p>

<p> <%= @event.description %></p>

<% if @event.category == "Training" %>
  <p>  <%= @event.course.blank? ? "Training" : @event.course.name %> by <%= @event.instructor %></p>
<% end %>

<p>  <%= @event.start_time %> until <%= @event.end_time %> (<%= @event.duration %> hours) </p>

<p><b>Category:</b> <%= @event.category %></p>

<p> <b>Status:</b>  <%= @event.status %></p>
<div id="event_notifications" >
  <%= render "notifications_for_event" %>
</div>
<div id="event_timecards"  >
  <h3>Personnel</h3>
  <div>
  <%= render "unknown_for_event" %>
  <%= render "unavailable_for_event" %>
  <%= render "available_for_event" %>
  <%= render "scheduled_for_event" %>
  <%= render "working_for_event" %>
  <%= render "worked_for_event" %>
  <%= render "all_for_event" %>
</div></div>

<%= @event.comments %>
Created <%= @event.created_at %></br>
Last Modified <%= @event.updated_at %>
